<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jmalltech.mapper.ClientMapper">

    <resultMap id="BaseResultMap" type="com.jmalltech.entity.Client">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="username" column="username" jdbcType="VARCHAR"/>
        <result property="password" column="password" jdbcType="VARCHAR"/>
        <result property="companyName" column="company_name" jdbcType="VARCHAR"/>
        <result property="email" column="email" jdbcType="VARCHAR"/>
        <result property="areaCode" column="area_code" jdbcType="VARCHAR"/>
        <result property="phone" column="phone" jdbcType="VARCHAR"/>
        <result property="address" column="address" jdbcType="VARCHAR"/>
        <result property="city" column="city" jdbcType="VARCHAR"/>
        <result property="state" column="state" jdbcType="VARCHAR"/>
        <result property="country" column="country" jdbcType="VARCHAR"/>
        <result property="createdById" column="created_by_id" jdbcType="BIGINT"/>
        <result property="updatedById" column="updated_by_id" jdbcType="BIGINT"/>
        <result property="createdDate" column="created_date" jdbcType="TIMESTAMP"/>
        <result property="updatedDate" column="updated_date" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,username,password,
        company_name,email,area_code,
        phone,address,city,
        state,country,created_by_id,
        updated_by_id,created_date,updated_date
    </sql>

    <select id="selectByUsername" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM public.mwms_client
        WHERE username = #{username}
    </select>

    <select id="selectClientsWithoutPassword" resultMap="BaseResultMap">
        SELECT
            id, username,
            company_name, email, area_code,
            phone, address, city,
            state, country, created_by_id,
            updated_by_id, created_date, updated_date
        FROM public.mwms_client
    </select>

    <select id="getByUsernameAndPassword" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM public.mwms_client
        WHERE username = #{username}
        AND password = #{password}
    </select>
</mapper>
